.card-group
            h5(class="card-title" style="display:none") 
                = routeData.bus_id
            .card
                .card-body
                    .row
                        p.col-6 PICKUP:
                        p.col-6(class="card-text")
                            = routeData.pickup
                    .row        
                        p.col-6 START DATE: 
                        p.col-6(class="card-text")
                            = routeData.starting_date
                    .row    
                        p.col-6 START TIME: 
                        p.col-6(class="card-text")
                            = routeData.starting_time
            .card
                .card-body
                    .row
                        p.col-6 DESTINATION:
                        p.col-6(class="card-text")
                            = routeData.destination
                    .row        
                        p.col-6 ARRIVAL DATE:
                        p.col-6(class="card-text")
                            = routeData.arrival_date
                    .row    
                        p.col-6 ARRIVAL TIME:
                        p.col-6(class="card-text")
                            = routeData.arrival_time
            .card 
                .card-body
                    .row
                        p.col-6 TOTAL SEATS:
                        p.col-6(class="card-text") 
                            = routeData.total_seat
                    .row        
                        p.col-6 AVAILABLE SEATS:
                        p.col-6(class="card-text") 
                            = routeData.available_seat
                    .row        
                        p.col-6 FARE:
                        p.col-6(class="card-text") 
                            = routeData.seat_fare
            button.btn.btn-styles.bookTicket(id=routeData.bus_id type="button" onclick='confirmBookingMessage(this.id)') Book ticket
.bus-layout
    .driver
    .passengers
        ul
            li  A1
            li  B1
            li  C1
            li  D1
            li  E1
            li  F1
            li  G1
            li  H1
            li  I1
            li  J1
        ul
            li  A2
            li  B2
            li  C2
            li  D2
            li  E2
            li  F2
            li  G2
            li  H2
            li  I2
            li  J2
        ul
            li  A3
            li  B3
            li  C3
            li  D3
            li  E3
            li  F3
            li  G3
            li  H3
            li  I3
            li  J3
        ul
            li  A4
            li  B4
            li  C4
            li  D4
            li  E4
            li  F4
            li  G4
            li  H4
            li  I4
            li  J4