mixin addBusMixin()
    div(class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true")
        div(class="modal-dialog modal-dialog modal-dialog-scrollable")
            div(class="modal-content")
                div(class="modal-header")
                    h5(class="modal-title") Add Bus info
                    button(class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close")
                div(class="modal-body")
                    form(action="/api/admin/addbusroute" method="POST" id="bus-form").addBusFrom
                        div
                            input(placeholder="Pickup" type="text" name="pickup" required)
                            input(placeholder="Destination" type="text" name="destination" required)
                        small(style= "padding-left:6%;") Starting time
                        div(style="margin-top:-5px;")
                            input(placeholder="Starting time" type="time" name="startingTime" style="width:188.8px; height:30px;" required)
                            input(placeholder="Starting weekday" type="text" name="startingWeekday" required)
                        small(style= "padding-left:6%;") Arrival time
                        div(style="margin-top:-5px;")
                            input(placeholder="Arrival time" type="time" name="arrivalTime" style="width:188.8px; height:30px;" required)
                            input(placeholder="Arrival weekday" type="text" name="arrivalWeekday" required)
                        div
                            input(placeholder="Seat Fare" type="number" name="seatFare" required)
                            input(placeholder="Supervisor ID" id="supervisorInput" list="supervisor-list" name="supervisorID" required)
                        div(class="modal-footer")
                            button(class="btn btn-secondary" type="button" data-bs-dismiss="modal") Close
                            button(id="addBusInfoBtn" class="btn btn-primary" type="submit") Add Bus

                        datalist#supervisor-list
                            each supervisor in supervisorList
                                option(value=supervisor.supervisor_id)= supervisor.first_name
