nav( style="background-color: transparent;" class="navbar navbar-expand-lg navbar-light")

    div(class="offset-md-1 col-md-11 container-fluid")
        a(class="navbar-brand" href="/admin/bus" style="font-family:poppins") EasyTicket

        button(class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation")
            span(class="navbar-toggler-icon")
        div(class="collapse navbar-collapse" id="navbarNavAltMarkup" style="padding-right:10px;")
            div(class="navbar-nav")
                a(class="nav-link active" aria-current="page" style="color:#0b3f8c; font-weight: 400" href="/admin/bus") Bus
                a(class="nav-link" style="color:#0b3f8c; font-weight: 400" href="/admin/trips") Trips
                a(class="nav-link" style="color:#0b3f8c; font-weight: 400" href="/admin/supervisor") Supervisors

            .d-flex(style="margin-left:auto;")
                a(class="btn btn-success my-2 my-sm-0" type="submit" href="/profile")
                    = FirstName
                a(class="btn btn-outline-danger my-2 my-sm-0" style="margin-left:5%" type="submit" onclick='logout(this)') Logout
