include booking
mixin accordionMaker(dataList,accordionID,boolean)
    if (dataList.length)
        if(boolean === true)
            h3(style= "padding-left: 2%;") Click to view your Current Bookings:
        else
            h3(style= "padding-left: 2%;") Click to view your Past Bookings:
        .accordion.accordion-flush#accordionFlushExample
            .accordion-item.accordion-item-style
                button.accordion-button.accordion-button-style.collapsed(type="button" data-bs-toggle="collapse" data-bs-target=`#${accordionID}` aria-expanded="false" aria-controls=`${accordionID}`)
                div.accordion-collapse.collapse(id=accordionID aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample")
                    .accordion-body
                        each data in dataList
                            +booking(data,boolean)
    
