mixin addBusMixin()
    div(class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true")
        div(class="modal-dialog modal-dialog modal-dialog-scrollable")
            div(class="modal-content")
                div(class="modal-header")
                    h5(class="modal-title") Modal title
                    button(class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close")
                div(class="modal-body")
                    form
                        input(placeholder="Pickup")
                        input(placeholder="Destination")
                        input(placeholder="Starting weekday")
                        input(placeholder="Number of Seats")
                        input(placeholder="Seat Fare")
                
                div(class="modal-footer")
                    button(class="btn btn-secondary" type="button" data-bs-dismiss="modal") Close
                    button(class="btn btn-primary" type="submit" onclick="addBus()") Add Bus