mixin booking(bookingData)
    .card-group(id=bookingData.bus_id)
        h5(class="card-title" style="display:none;")
                = bookingData.bus_id
        .card
            .card-body
                    .row
                        p.col-6 PICKUP:
                        p.col-6(class="card-text")
                            = bookingData.pickup
                    .row
                        p.col-6 START DATE:
                        p.col-6(class="card-text")
                            = bookingData.starting_date
                    .row
                        p.col-6 START TIME:
                        p.col-6(class="card-text")
                            = bookingData.starting_time
        .card
            .card-body
                .row
                    p.col-6 DESTINATION:
                    p.col-6(class="card-text")
                        = bookingData.destination
                .row
                    p.col-6 ARRIVAL DATE:
                    p.col-6(class="card-text")
                        = bookingData.arrival_date
                .row
                    p.col-6 ARRIVAL TIME:
                    p.col-6(class="card-text")
                        = bookingData.arrival_time
        .card
            .card-body
                .row
                    p.col-6 SEATS:
                    p.col-6(class="card-text")
                        = bookingData.seats
        button(id=`btn-${bookingData.bus_id}` onclick=`printTicket('${bookingData.bus_id}')`)
            |print ticket
                
