footer
    .footer-clean
        .container(style="margin-bottom: 20px;")
            .row.justify-content-center
                .col-sm-4.col-md-3.item
                    h3 Features
                    ul
                        li Login Register
                        li Search Routes
                        li Book Ticket
                .col-sm-4.col-md-3.item
                    h3 About
                    ul
                        li Team
                        li  Motivation
                .col-sm-4.col-md-3.item
                    h3 Timeline
                    ul
                        li Learning
                        li  Planning and Implementation
                        li Testing
                        //- li(style="color:white") .
                .col-lg-3.item.social
                    a(href="#EasyTicket_facebook")
                        img(src="/img/facebook.png").icon.fab.fa-facebook-f
                    a(href="#EasyTicket_twitter")
                        img(src="/img/twitter.png").icon.ion-social-twitter
                    a(href="#EasyTicket_snapchat")
                        img(src="/img/snapchat.png").icon.ion-social-snapchat
                    a(href="#EasyTicket_instagram")
                        img(src="/img/instagram.png").icon.ion-social-instagram
                    p.copyright
                        |Easy Ticket © 2021
