meta(charset="UTF-8")
meta(name="description" content="Hassle free bus ticket booking")
meta(name="keywords" content="easyticket, easy, ticket, bus, booking")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1.0")

include bootstrap/header
include favicon
include ../css/commonBodyCSS
include ../css/footerCSS
include common-scripts
