doctype html

html
    head
        title EasyTicket
        include includes/headers
        include css/commonBodyCSS
        style.
            #mainContent {
                margin-top: 15%;
            }

    body
        include includes/navbar
        .container#mainContent
                .row.justify-content-center.text-center
                    h1
                        |About Us
                .row.justify-content-center.text-center
                    h5
                        | Made with love by SI, AKK, MR
        include includes/footers
