include includes/locationsDropdown
include includes/accordion
include includes/adminPanelTripscard


doctype html

html
    head
        title Admin Panel
        include includes/headers
        include css/adminPanelCSS
        include css/profileCSS
        include css/accordionCSS
        include css/routesCSS
        script(src="./js/deleteTrip.js" defer)
    body
        include includes/adminNav
        - const locations = ['Dhaka', 'Sylhet', 'Cox\'s Bazaar', 'Rajshahi', 'Rangpur', 'Chittagong', 'Madaripur', 'Khulna', 'Chandpur'];
        .container    
            form(action="/trips" method="POST")
                .row.justify-content-center.g-1
                    .col-6.col-md-4
                        select(class="form-control" name="pickup")
                            option(value="" disabled selected hidden) Choose pickup location
                            +dropdown(locations)
                    .col-6.col-md-4
                        select(class="form-control" name="destination")
                            option(value="" disabled selected hidden) Choose destination
                            +dropdown(locations)
                .row.justify-content-center.g-1
                    .row.justify-content-center.col-6.col-md-3(style="margin-top:2%")
                        label(for="start" style="padding:0") Date of Journey:
                        input(type="date" id="start" name="starting_date")
                .row.justify-content-center
                    button.btn.btn-styles#searchRouteButton(type="submit") Search Trips
                    
        #trip-container
            .row
                .col-lg-10.offset-lg-1
                    #TripHeading
                        h3 All your active Trips:

                    - const dataList = [{ bus_id: 10, pickup: 'Dhaka', destination: 'Sylhet', starting_date: "July 4, 2021", starting_time: "20:00", arrival_date: "July 5, 2021", arrival_time: "04:00", total_seat: 40, available_seat: 12, seat_fare: 400 }, { bus_id: 12, pickup: 'Dhaka', destination: 'Chattogram', starting_date: "August 4, 2021", starting_time: "20:00", arrival_date: "August 5, 2021", arrival_time: "04:00", total_seat: 40, available_seat: 12, seat_fare: 400 }, { bus_id: 14, pickup: 'Khulna', destination: 'Rangpur', starting_date: "September 4, 2021", starting_time: "20:00", arrival_date: "September 5, 2021", arrival_time: "04:00", total_seat: 40, available_seat: 12, seat_fare: 800 }]
                    //- - const dataList = currentBookings
                    each data in dataList
                        +adminTripscard(data)

        include includes/footers
