doctype html

html
    head
        title EasyTicket
        include includes/headers
        include css/commonBodyCSS
        style.
            #mainContent {
                margin-top: 15%;
            }

    body
        include includes/navbar
        .container
            img(src="gif/arrow.gif" style="margin-top: 20px;")
            .row.container
                .justify-content-center.text-center
                    h1
                        |Are you lost ? Use the navbar to navigate !

        include includes/footers
