include includes/supervisor/supervisorTripsCard
html
    head
        title Supervisor Panel
        include includes/headers
        include css/adminPanelCSS
        include css/profileCSS
        include css/accordionCSS
        include css/routesCSS
        script(src="js/admin/viewSeats.js")
        script(src="js/admin/selectSeats.js")
        script(src="https://unpkg.com/sweetalert/dist/sweetalert.min.js" defer)

    body
        include includes/supervisor/superNav
        .container
            h3 Trips for this week:
            - const dataList = [{ bus_id: 10, pickup: 'Dhaka', destination: 'Sylhet', starting_date: "July 4, 2021", starting_time: "20:00", arrival_date: "July 5, 2021", arrival_time: "04:00", total_seat: 40, available_seat: 12, seat_fare: 400 }, { bus_id: 12, pickup: 'Dhaka', destination: 'Chattogram', starting_date: "August 4, 2021", starting_time: "20:00", arrival_date: "August 5, 2021", arrival_time: "04:00", total_seat: 40, available_seat: 12, seat_fare: 400 }, { bus_id: 14, pickup: 'Khulna', destination: 'Rangpur', starting_date: "September 4, 2021", starting_time: "20:00", arrival_date: "September 5, 2021", arrival_time: "04:00", total_seat: 40, available_seat: 12, seat_fare: 800 }]
                    //- - const dataList = currentBookings
                    each data in dataList
                        +supervisorTripscard(data)
        include includes/footers