doctype html
include includes/ticketMixin

html
    head
        title ticket
        include css/ticketCSS
    body.body
        div
            div(id="upor")
                p(class="lekha")
                    |Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>
                    |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                img(id="qr" src="websiteQRCode_noFrame.png")
            p(class="lekha")
                b This Ticket will be valid on production of Photo Identity Card of the Passenger.
            h2(class="holud") Journey Information
            div(class="rTable")
                div(class="rTableRow")
                    div(class="rTableHead") Journey Date
                    div(class="rTableCell") dummy text

                div(class="rTableRow")
                    div(class="rTableHead")
                        strong Arrival Date
                    div(class="rTableCell")
                        span(style="font-weight: bold;") abc
    
                div(class="rTableRow")
                    div(class="rTableHead") From Station
                    div(class="rTableCell") dummy text
                
                div(class="rTableRow")
                    div(class="rTableHead")
                        strong To Station
                    div(class="rTableCell")
                        span(style="font-weight: bold;") abc

                div(class="rTableRow")
                    div(class="rTableHead") Selected Seats
                    div(class="rTableCell") dummy text
                
                div(class="rTableRow")
                    div(class="rTableHead")
                        strong Bus ID
                    div(class="rTableCell")
                        span(style="font-weight: bold;") abc
                
                
                div(class="rTableRow")
                    div(class="rTableHead") Fare
                    div(class="rTableCell") dummy text
                
                div(class="rTableRow")
                    div(class="rTableHead")
                        strong Supervisor ID
                    div(class="rTableCell")
                        span(style="font-weight: bold;") abc
                
                
            h2(class="holud") Passenger Information
            div(class="rTable")
                div(class="rTableRow")
                    div(class="rTableHead") Name of passenger
                    div(class="rTableCell") dummy text
                
                div(class="rTableRow")
                    div(class="rTableHead")
                        strong TripID
                    div(class="rTableCell")
                        span(style="font-weight: bold;") abc
                
                div(class="rTableRow")
                    div(class="rTableHead") Phone Number
                    div(class="rTableCell") dummy text
                
            p(class="lekha")
                |Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>
                |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
