doctype html

html
    head
        title Update Profile
        include includes/headers
        include css/signin_signupCSS
        script(defer type="text/javascript" src="js/userauth.js")
    body
        include includes/navbar

        main.login-form
            .container
                .row.justify-content-center
                    .col-md-8
                        .card
                            .card-header Update Profile
                            .card-body
                                form(action="/api/updateprofile" method="POST" id="update-form")
                                    .form-label.row
                                        label(for="firstname" class="col-md-4 col-form-label text-md-end") First Name
                                        .col-md-6
                                            input(type="text" id="first-name" class="form-control" name="firstname")
                                    .form-label.row
                                        label(for="lastname" class="col-md-4 col-form-label text-md-end") Last Name
                                        .col-md-6
                                            input(type="text" id="last-name" class="form-control" name="lastname")
                                    .form-label.row
                                        label(for="phoneno" class="col-md-4 col-form-label text-md-end") Phone Number
                                        .col-md-6
                                            input(type="text" id="phoneno" class="form-control" name="phoneno")
                                    .form-label.row
                                        label(for="password" class="col-md-4 col-form-label text-md-end") Password
                                        .col-md-6
                                            input(type="password" id="password" class="form-control" name="password" required)
                                    #errorPara
                                    .col-md-6.offset-md-4
                                        button(type="submit" class="btn btn-primary") Update
        include includes/footers
