style.
    .accordion-button:focus{
        box-shadow:none;
    }
    .accordion-item-style{
        background-color: transparent;
    }
    .accordion-button-style{
        background-color: #ff8266;
        transition:1s;
    }
    .accordion-button-style:not(.collapsed){
        background-color:#63a9ee;
    }