style.
    .accordion-item-style{
        background-color: #370101;
    }
    .accordion-button-style{
        background-color: #FFC107;
    }
    .accordion-button-style:not(.collapsed){
        background-color:#FFC107;
    }