style.
    #TripHeading {
        display: flex;
        justify-content:space-between;
        margin-bottom: 10px;
    }
    .bookTicket{
        display : none;
    }
    #bottom-container-style{
        margin-left:5%;
        width:90%;
    }
    
    @media (max-width:767px) {
        #second-row{
            position:relative;
        }
        #button-one{
            margin-top:2%!important;
            margin-bottom:2%!important;
            margin-left:23%!important;           
        }
        #button-two{
            position: absolute;
            bottom:100%;
            left:63%;
            margin-top:2%!important;
            margin-bottom:2%!important;
        }
    }
    @media screen and (max-width:576px) {
        .card{
            margin: 0!important;
        }
        .card-group{
            margin-bottom :.75rem;
        }
    }