style.
    #TripHeading {
        display: flex;
        justify-content:space-between;
        margin-bottom: 10px;
    }
    #trip-container{
        margin-top:5%;
        margin-left:5%;
        width:90%;
    }
    
    @media (max-width:767px) {
        #second-row{
            position:relative;
        }
        #button-one{
            margin-top:2%!important;
            margin-bottom:2%!important;
            margin-left:21%!important;           
        }
        #button-two{
            position: absolute;
            bottom:100%;
            left:61%;
            margin-top:2%!important;
            margin-bottom:2%!important;
        }
    }
    @media screen and (max-width:576px) {
        .card{
            margin: 0!important;
        }
        .card-group{
            margin-bottom :.75rem;
        }
    }
    #delete-trips:focus{
        box-shadow:none;
    }
    .displayCard{
        display: flex;
        flex-flow: row wrap;
        animation-delay: 5s;
    }
    @media (max-width: 576px){
        .displayCard {
            display: block;
        }
    }
    form{
        margin-top:7%;
    }
    #searchRouteButton{
        margin-top:2%;
        width:20%;
    }



    .switch {
    position: relative;
    margin-top:70px;
    margin-left:20px;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3fb93e;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #ff2626;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #0000ff;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }