style.
    .card{
        margin:0% 3%;
        margin-top:2%;
        border:none;
    }
    .card p{
        font-family: Georgia, serif;
    }
    .card .card-text{
        color:purple;
        font-weight: 500;
        font-family: sans-serif;
    }
    .card-body{
        background-color:whitesmoke;
        padding-left: 10%;
        padding-top: 5%;
    }