style.
    body{
        background-color: #ffddcc;
        color: #ad385f;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
    .btn-styles{
        color: #123C69;
        border-color: #123C69;
    }
    .btn-styles:hover {
        color: #FFF;
        background-color: #123C69;
        border-color: #123C69;
        transition: 0.4s;
        transition-timing-function: ease-in;
    }