style.
    main{
        margin-top:2%;
    }
    .hide-text {
        display:none;
    }
    .card{
        margin:1% 0;
        border:none;
    }
    .card p{
        font-family: Georgia, serif;
    }
    .card .card-text{
        color:purple;
        font-weight: 500;
        font-family: sans-serif;
    }
    .card-body{
        background-color:whitesmoke;
        padding-left: 10%;
        padding-top: 5%;
    }
    .viewOrhide{
        height: 40px;
        margin-top:5%;
        margin-left:4%;
    }
    .viewOrhide:focus{
        box-shadow:none;
    }
    @media screen and (max-width:768px){
        .viewOrhide{
            height: 40px;
            margin-top:12%;
            margin-left:0;
        }
    }
    @media screen and (max-width:575px){
        .viewOrhide{
            height: 40px;
            margin-top:4%;
            margin-left:40%;
        }
        button:last-child{
            margin-bottom:15px;
        }
    }
    .toBeHidden{
        display:none;
    }
    .displayCard{
        display: flex;
        flex-flow: row wrap;
        animation-delay: 5s;
    }
    .bus-layout{
        margin-top:3%;
        position: relative;
        border: 1px solid red;
    }
    .driver{
        display:flex;
    }
    .driver >ul{
        padding-left:32px;
        width:max-content;
    }
    .passengers{
        display:flex;
    }
    ul {
        list-style: none;
    }
    li{
        font-size:1.2rem;
    }
    .bus-seat-description{
        margin: 0;
        position: absolute;
        top: 40%;
        left: 60%;
        transform: translate(-50%, -50%);
    }
    .bus-seat-description >div{
        font-size:1.2rem;
    }
    .bus-seat-description >button{
        margin-top:25px;
        width:max-content;
    }

    @media screen and (max-width:688px){
        .bus-seat-description{
            left:80%;
        }
    }
    
    .filter-green{
        filter: invert(48%) sepia(79%) saturate(2001%) hue-rotate(86deg) brightness(118%) contrast(119%);
    }

    .seat-booked{
        filter: invert(48%) sepia(79%) saturate(2001%) hue-rotate(260deg) brightness(118%) contrast(119%);
        pointer-events: none;
    }
