style.
    main{
        margin-top:2%;
    }
    .hide-text {
        display:none;
    }
    .card{
        margin:1% 0;
        border:none;
    }
    .card p{
        font-family: Georgia, serif;
    }
    .card .card-text{
        color:purple;
        font-weight: 500;
        font-family: sans-serif;
    }
    .card-body{
        background-color:whitesmoke;
        padding-left: 10%;
        padding-top: 5%;
    }
    .bookTicket{
        height: 40px;
        margin-top:5%;
        margin-left:4%;
        color: #123C69;
        border-color: #123C69;
    }
    .bookTicket:hover{
        color: #FFF;
        transition: 0.4s;
        transition-timing-function: ease-in;
        background-color: #123C69;
        border-color: #123C69;
    }
    @media screen and (max-width:768px){
        .bookTicket{
            height: 40px;
            margin-top:12%;
            margin-left:0;
        }
    }
    @media screen and (max-width:575px){
        .bookTicket{
            height: 40px;
            margin-top:4%;
            margin-left:40%;
        }
        button:last-child{
            margin-bottom:15px;
        }
    }
