
style.
    body{
        color:whitesmoke
    }
    .center_sentence{
        text-align:center;
    }
    #mainContent{
        margin-top:10%;
    }
    #signupanchor{
    text-decoration: none;
    color: white;
    padding-right: 7px;
    }
    #signupanchor:hover{
        color: aquamarine;
    }
    form{
        margin-top:7%;
    }
    #searchRouteButton{
        margin-top:2%;
        width:20%;
    }