
style.
    .center_sentence{
        text-align:center;
    }
    #mainContent{
        margin-top:10%;
    }
    #signupanchor{
        text-decoration: none;
        color: #ad385f;
        padding-right: 7px;
        transition: 0.5s;
        transition-timing-function: ease-in;
    }
    #signupanchor:hover{
        color: #EDC7B7;
    }
    form{
        margin-top:7%;
    }
    #searchRouteButton{
        color: #123C69;
        border-color: #123C69;
        margin-top:2%;
        width:20%;
        transition: 0.25s;
        transition-timing-function: ease-in;
    }
    #searchRouteButton:hover {
        color: #FFF;
        background-color: #123C69;
        border-color: #123C69;
    }