style.
    .rTable {
        display: block;
        margin-left: 18%;
        width: 100%;
    }
    .rTableHeading, .rTableBody, .rTableFoot, .rTableRow {
        clear: both;
    }
    .rTableHead, .rTableFoot{
        background-color: #DDD;
        font-weight: bold;
    }
    .rTableCell, .rTableHead {
        border: 1px solid #999999;
        float: left;
        height: 17px;
        overflow: hidden;
        padding: 3px 1.8%;
        width: 28%;
    }
    .rTable:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }

    .holud {
        background-color: #FADA5E;
        text-align: center;
    }

    .body {
        margin-left: 34%;
        margin-right: 34%;
        padding-bottom: 1%;
        border: 2px solid;
        border-color: #FADA5E;
        font-family: "sans-serif";
    }

    .lekha {
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
    }

    #upor {
    display: flex;
    }

    #qr {
    width: 100px;
    height: 100px;
    margin-right: 3%;
    }

    #signature {
    text-align: right;
    margin-right: 3%;
    }